/* footer  */
.footer {
  background: #f9f9f9;
  padding-top: 100px;
}

.footer .footer-text {
  font-size: 16px;
  padding: 10px 0;
  color: #332d2d;
  margin-top: 10px;
}
.footer .footer-icon {
  font-size: 16px;
}
.footer-icon .icon {
  margin-right: 10px;
  color: #332d2d;
  margin-bottom: 10px;
}
.footer img {
  width: 150px !important;
}
.footer ul {
  list-style-type: none;
}
.footer ul li {
  margin-bottom: 5px;
}
.footer h4 {
  margin-left: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer a {
  text-decoration: none;
  color: #332d2d;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.6s ease-in-out;
}
.footer a:hover {
  border-bottom: 1px solid rgb(206, 55, 160);
  color: rgb(206, 55, 160);
  transition: all 0.3s ease-in-out;
}
.space-between-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  width: 100% !important;
}
